@import "bootstrap";
@import "font-awesome";
@import "simplemde.css";
@import "datepicker.scss";

.verticle-center{
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

body{
	margin:0;
	padding:0;
}

.excerpt, .codeMirror{
	height: 150px;
	min-height: 150px;
}